[2014-04-25 07:37] Manishearth opened #3 "Add ability to switch between socket mode and non socket mode"

[2014-04-25 07:37] Manishearth opened #4 "Add flags to wrapper for message types"
We should have some inbuilt consts in the wrapper for the message types: https://github.com/KeyboardFire/stackexchange-chatty/blob/master/se-chatty.rb#L79

And maybe some more that put together commonly grouped types.

[2014-04-27 21:00] Manishearth opened #8 "Intermittent login failure"
[code]

Probably due to throttling

[2014-04-27 21:33] Manishearth opened #9 "Tests with secure environment variables"
http://docs.travis-ci.com/user/build-configuration/#Secure-environment-variables

We can run tests by putting the bot login env vars in an encrypted string.

This way we can test most of the functionality.

[2014-04-28 23:35] banksJeremy opened #18 "Handle prompt when logging into site for the first time"
The first time you use Stack Exchange's login as an OpenID provider to login to a Stack Exchange site, you're met with this prompt asking you for confirmation:

ChatExchange currently does not know how to handle this, and you need to manually authenticate it once. I will update it to recognize when it meets this page, and to confirm the login. (If I get lazy, at minimum I will detect when this hap

[2014-04-29 01:21] #18 closed, assigned to nobody

[2014-04-29 01:31] #9 closed, assigned to nobody

[2014-04-30 04:14] #4 closed, assigned to banksJeremy

[2014-04-30 04:15] #3 closed, assigned to nobody

[2014-04-30 05:54] banksJeremy opened #41 "Logging clean-up"

[2014-04-30 05:56] banksJeremy opened #42 "Make developer dependencies optional"
As discussed in chat [here](http://chat.stackexchange.com/transcript/message/15250883#15250883), `pytest` eventually shouldn't be a strict dependency for this project. It should still be defined in `setup.py`, but as optional, either as an `extra` or through some other mechanism.

[2014-04-30 06:37] banksJeremy opened #43 "What interface would we ideally want to expose for library users?"
Without thinking too much about the details of the implementation, I'm wonder what kind of interface would be nicest to expose to users of the library. I'm currently imagining something like:

[code]

Let me know if you have any thoughts.

[2014-05-02 21:56] banksJeremy opened #44 "Add .text_content to events that have .content"
It would be convenient to have a `.text_content` property on `wrapper.Event` which parses the HTML and returns a plain-text version of a message (html/xml entities interpreted, tags removed).

[2014-05-02 22:31] #41 closed, assigned to banksJeremy

[2014-05-02 22:34] #44 closed, assigned to banksJeremy

[2014-05-03 00:29] banksJeremy opened #45 "Use actual hostname instead of abbreviated host/site parameter"
Instead of use abbreviated host/site identifiers, we could use the actual host/domain  names of the site. `SEChatWrapper(host='stackoverflow.com')`

This would allow some of our logic to just use the `host` value directly, instead of needing to translate from the abbreviated values.

For backwards-compatibility, we can accept the abbreviated names for now, but trigger a `DeprecationWarning`.

(If

[2014-05-03 07:29] banksJeremy opened #46 "Subclasses for different Event types"
Instead of having a single Event type, with a long conditional chain that decides what properties to add based on the type of event, we could have a bunch of subclasses of Event for different types, with a constructor that would take even JSON data and return an Event instance of the appropriate subtype (or just an instance of Event of the type is unknown).

[code]

[code]

Because of the number o

[2014-05-03 17:30] #46 closed, assigned to banksJeremy

[2014-05-03 17:39] banksJeremy opened #47 "Add a .reply method to MessageEvent"
Simply add a `.reply(message)` method to MessageEvent.

[code]

[2014-05-03 19:12] #47 closed, assigned to banksJeremy

[2014-05-03 23:39] banksJeremy opened #50 "Starring/unstarring messages"
Add code in browser/wrapper for starring/unstarring messages.

[2014-05-03 23:41] banksJeremy opened #51 "Message class"
(related to some discussion in #43)

We should have a Message class. A MessagePosted event's `.message` and the corresponding UserMentioned event's `.message` should both refer to the same Message instance. If a MessageEdited event occurs, it would update this shared instance.

The messages could be de-duplicated using a weak-key dictionary on the Message class.

We will also add a bounded deque (

[2014-05-04 00:05] banksJeremy opened #52 "User class"
As with Message events in #51, we should have deduplicated User instances. These would be referred-to both directly by Events and by Messages.

Messages would have strong references to their owner Users. Users would have a set of weak references to their messages (perhaps a WeakValueSet).

For both this and our other uses, we probably shouldn't expose weak-referencing collections in public attribu

[2014-05-04 00:17] banksJeremy opened #53 "Is the set of fields in event data based on the event type or the message?"
Does a MessageEdited event have a message_edits field because it's a MessagedEdited event, or because it's about a message that has been edited?

Does a MessageStarred event include a message_stars field because it's a MessageStarred event, or brecause it's about a message that has stars?

It might be because it's about a message that has stars, because I just got a MessageStarred event without it

[2014-05-04 00:50] banksJeremy opened #54 "Editing messages"
I thought starring (#50) would be easier, but it looks like it's not, so let's add the ability to edit messages first.

[2014-05-04 00:51] #53 closed, assigned to banksJeremy

[2014-05-04 02:01] #54 closed, assigned to banksJeremy

[2014-05-04 03:57] #45 closed, assigned to banksJeremy

[2014-05-07 21:25] banksJeremy opened #59 "Throttling, concurrency, structure"
I've been thinking a bit about what to work on next, after Message (and possibly User and Room) are implemented. Here are some rough thoughts I've had. (I'll probably create more specific tickets for associated work, and implementation details, but these topics are pretty related so it would be useful to have initial discussion in one place.)
### Throttling

When we post a new message, or edit one

[2014-05-10 05:18] banksJeremy opened #60 "Google OAuth2 Login"
Not a priority at all, but since it was mentioned, I thought I'd create a ticket to discuss it.

I don't think there's any official way to login to programmatically log in to Google using a username and password, and it might not be the easiest login flow to work through with something like BeautifulSoup. Instead, we might consider just using a real browser login, requiring user interaction. It wo

[2014-05-10 14:42] Manishearth opened #61 "Deal with the "Allow SE.com/SO.com/M.SE.com to use this openid" page"
Since the SE openid is integrated, on some sites there is no confirmation message unless you enter it as a custom openid. We're doing the latter here, so we should probably automatically do the confirmation, OR switch to the built in mechanism (which is a bit roundabout)

Related: #8 as well

[2014-05-10 16:21] vampjaz opened #62 "Example `chat.py` crashes on `message.reply()`"
I have been able to get the `chat.py` example working, with one small problem. I tried sending my bot "!!/random", and it crashes:

[code]

I think this is due to the program returning a `MessagePosted` object, in stead of a `Message` object, which has a `reply` method.

[2014-05-10 17:29] #62 closed, assigned to nobody

[2014-05-14 04:27] banksJeremy opened #65 "Room class"
as with the Message class #51 and User class #52

[2014-05-14 05:13] #50 closed, assigned to banksJeremy

[2014-05-14 05:13] #51 closed, assigned to banksJeremy

[2014-05-15 22:24] banksJeremy opened #67 "Segmentation faults on PyPy on Travis"
I've had a couple of builds fail because of segfaults on PyPy on Travis.

It's possible that this is due to thread-unsafe behaviour that we're planning to remove, but it's doesn't seem to ever be an issue with CPython so I'm going to just switch back to using CPython on Travis for now. We can trying switching back to PyPy once we address potential concurrency issues.

[2014-05-15 22:35] #43 closed, assigned to banksJeremy

[2014-05-15 22:35] #52 closed, assigned to banksJeremy

[2014-05-15 22:35] #65 closed, assigned to banksJeremy

[2014-05-15 22:35] #67 closed, assigned to nobody

[2014-05-16 04:31] banksJeremy opened #68 "Concurrency/Thread-safety"
As discussed in #59, the public Client interface should be entirely thread-safe, whatever the users do. (The current implementation has probably unsafe behaviour internally, without any help from the users.)

---

The concurrency model of this code might have been sane before I touched it, but given the work I've done I'm sure isn't any more, and that there are probably many possible race conditio

[2014-05-16 07:00] banksJeremy opened #69 "Throttling, Retrying"
As discussed in #59, we want to have some universal throttling mechanism for client requests.

---
### Throttling

When we post a new message, or edit one, the requests are throttled, and retried when appropriate. This is good, but doesn't apply to any of the other requests we make. We should generalize the existing code, and make it easy to apply for different types of requests. (There would need

[2014-05-16 07:04] #59 closed, assigned to nobody

[2014-05-20 17:18] Manishearth opened #70 "Reexport some common methods onto client"
Perhaps some common room methods like `send_message` and `watch` should be reexported on `Client` with an extra room id parameter for convenience?

[2014-05-23 06:06] Manishearth opened #71 "pinner_user_ids does not always exist"
[code]

I'll look into this in a while.

[2014-05-23 15:21] Manishearth opened #72 "Pins expire, so we had to disable tests that were expecting certain messages to remain pinned"
Some tests are failing because pins expire.

We might want to make the assertion optional ("expected failure"). I'll look into whether or not pytest supports this.

[2014-08-14 10:50] badp opened #74 "How can I get the message ID of a message I send?"
Say I send a message I would like to modify later. Do I have to look at the events to find that message ID (...or way better: the message object), or is there another way?

(It seems that chat does send you the new message ID in response to the POST to `chats/.../messages/new`, but I don't know how convoluted the process would be to bubble this response all the way to the `Rooms` class.)

[2014-09-07 17:23] thomas-daniels opened #75 "Chatbot crashes if you star a pinned message"
This has happened to me several times. If I have a bot running on a chatroom and if I star a pinned message, my bot crashes with the following traceback:

[2014-09-08 17:18] #75 closed, assigned to nobody

[2014-09-08 17:52] #71 closed, assigned to nobody

[2014-09-08 18:30] Manishearth opened #77 "Travis timing out"
Travis is timing out, not sure why

https://travis-ci.org/Manishearth/ChatExchange/builds/34733040

[code]

[2014-09-10 13:24] Manishearth opened #79 "Better caching strategy"
We currently cache messages in `client` https://github.com/Manishearth/ChatExchange/blob/master/chatexchange/client.py#L71

However, these are not updated on edits, and it's cached indefinitely. We should have:
- [ ] A way to keep these up to date, perhaps by pinging the message object with new values on edits/stars
- [ ] A way to clean the cache
- [ ] A way to disable the cache

[2014-09-23 02:53] AWegnerGitHub opened #81 "ConnectionErrors and Timeouts"
When watching via HTTP, I have been getting ConnectionErrors and Timeouts.

I've created this patch and it seems to solve most of my issues. The basic strategy is to retry these two particular failures up to 5 times (MAGIC NUMBER ALERT!) and if the failure occurs after these tries, then reraise the exception. If it does not reoccur, blame it on "the network" and be glad that it works.

It is possi

[2014-09-24 20:00] #81 closed, assigned to nobody

[2014-09-24 23:00] #77 closed, assigned to nobody

[2014-12-19 16:02] ProgramFOX opened #84 "KeyError that happens at random"
When I run my chat bots, then sometimes I get a KeyError, which seems to happen at random.

Traceback:
<pre><code>
Traceback (most recent call last):
  File "C:\Python27\lib\threading.py", line 810, in __bootstrap_inner
    self.run()
  File "C:\Python27\lib\threading.py", line 763, in run
    self.__target(*self.__args, **self.__kwargs)
  File "Path\ChatExchange\chatexchange\browser.py", line 625

[2015-01-29 03:37] AWegnerGitHub commented on #8
I receive this error as well (with adjusted line numbers, presumably because of 9 months of development from when this issue was originally open). Prior to today, I was able to log in and have been utilizing this project for about 6 months with no login issues.

	  File "H:\Dev\Git\SE_Chatbot\ChatExchange\chatexchange\client.py", line 140, in login
		self._br.login_se_chat()
	  File "H:\Dev\Git\SE

[2015-02-25 00:44] hichris1234 commented on #84
Smokey is getting this too. I'll take a look, but we'll see if I get anywhere.

[2015-02-25 23:20] hichris1234 commented on #84
I'm betting as @Manishearth said it has to do with the lazy loading. It looks like room data is lazy-loaded, correct? And if that room data isn't there before an event is created, something like this would occur.

[2015-03-04 18:29] #84 closed

[2015-03-08 13:54] ProgramFOX opened #90 "ValueError: too many values to unpack"
Found this because SmokeDetector didn't want to mark some posts as true positive:

    File "/path/ChatExchange/chatexchange/browser.py", line 414, in get_transcript_with_message
        room_soup, = transcript_soup.select('.room-name a')

[2015-03-08 14:05] ProgramFOX commented on #90
This only seems to happen on `chat.meta.stackexchange.com`, not on the other chat hosts.

[2015-03-08 14:17] ProgramFOX commented on #90
I found the cause: http://chat.meta.stackexchange.com/transcript/message/3134317#3134317

[2015-03-08 18:23] #90 closed

[2015-04-08 22:16] Undo1 opened #92 "Get current list of users in the room"
Some applications would benefit from being able to get a list of the users currently in a room. For example, I'd like to be able to do this:

[code]

Can we add this feature?

[2015-04-08 22:33] bjb568 commented on #79
http://shouldiblamecaching.com

[2015-04-09 06:59] Unihedro commented on #79
+1 for cache control.

[2015-04-16 08:34] ProgramFOX commented on #92
I've tried to look whether this is possible, and all I have found is that you can [fetch all pingable users in a room](http://chat.meta.stackexchange.com/rooms/pingable/89), but while digging through the chat code, I did not see how chat exactly knows what users are in the room right now.

[2015-04-16 14:08] Undo1 commented on #92
Sounds like it probably keeps a list somewhere that updates when the web socks says a user has arrived or left, so it'd probably be really hard to do this :(

[2015-04-16 14:14] ProgramFOX commented on #92
Aha, I just found something!

When looking at the source of /rooms/89/tavern-of-the-meta, I saw this:
<pre>
CHAT.RoomUsers.initPresent([
        {id: 199700, name: ("J. Steen"), email_hash: ("<hash here>"), reputation: 933, last_post: 1429180589}
        ,{id: 161198, name: ("Bart"), email_hash: ("<hash here>"), reputation: 49248, last_post: 1429180578}
        ,{id: 266345, name: ("SmokeDetector"

[2015-04-30 16:05] AWegnerGitHub opened #96 "Using requests version 2.6.2 prevents ChatExchange from logging in with 'Connection aborted.'"
When utilizing `requests` 2.6.2, ChatExchange fails to log in and throws a `Connection Aborted` error. Reverting to requests 2.5.x solves the problem.

	File "H:/test_bot/run_bot.py", line 96, in __init__
	  self.client.login(email, password)
	File "H:\test_bot\ChatExchange\chatexchange\client.py", line 137, in login
	  self._br.login_site(self.host)
	File "H:\test_bot\ChatExchange\chatexchange\br

[2015-04-30 16:09] Manishearth commented on #96
@ProgramFOX @hichris1234 Any idea why this happens?

[2015-05-01 06:15] ProgramFOX commented on #96
@Manishearth All I know is that the 2.6 branch came out with a security fix. Any chance you make a HTTP request at some point where HTTPS is expected?

[2015-05-01 10:38] Manishearth commented on #96
This works fine for me. I tried a virtualenv with requests 2.6.2 and it worked.

[2015-05-01 10:39] Manishearth commented on #96
Can someone repro?

[2015-05-01 10:47] hichris1234 commented on #96
Possibly a Windows only thing? ProgramFOX and Andy are using Windows, I believe.

[2015-05-01 10:49] ProgramFOX commented on #96
@Manishearth No, same error in a virtualenv.

@hichris1234 I'm testing this on a Ubuntu 14.04 LTS AWS instance.

[2015-05-01 10:49] Manishearth commented on #96
Hmm. Perhaps I screwed up the virtualenv

[2015-05-01 10:50] Manishearth commented on #96
Nope. Still works. Hmm.

[2015-05-01 10:51] ProgramFOX commented on #96
Are there any HTTPS- or SSL-related packages you have installed that might be necessary for this?

[2015-05-01 10:52] Manishearth commented on #96
I used a clean venv.

[2015-05-01 15:20] AWegnerGitHub commented on #96
I also used a clean venv to get that stack trace in the original problem.

[2015-05-01 16:19] Manishearth commented on #96
@AWegnerGitHub How did you install the new requests module? By tweaking the setup file?

[2015-05-01 17:38] AWegnerGitHub commented on #96
`pip install requests` installed 2.6.2. When I figured out that was the issue, I reverted to 2.5.3 using `pip install requests==2.5.3`. I selected that version because that is what SmokeDetector uses (based on [this](http://chat.stackexchange.com/transcript/message/21379237#21379237) )

[2015-05-01 17:57] Manishearth commented on #96
Okay.

Setup.py specifies a different version btw, though when you submodule ChatExchange that doesn't get checked.

Hm.

[2015-05-04 17:08] ProgramFOX commented on #96
Good news! ChatExchange works fine again with the newest version, 2.7.0.

[2015-05-04 17:08] Manishearth commented on #96
O.o

[2015-05-04 19:46] hichris1234 commented on #96
Release notes from 2.7.0:

[2015-07-23 13:36] #96 closed

[2015-07-24 07:49] ProgramFOX commented on #92
@Undo1 This now exists: https://github.com/Manishearth/ChatExchange/commit/9b48401f41ad95822cd658fb0ab925ea68481652

@Manishearth Can you close the issue, please?

[2015-07-24 07:52] #92 closed

[2015-07-24 07:57] ProgramFOX commented on #70
By "reexport", do you mean "move" or "put also a send_message in Client which will use get_room to get a room to call send_message there"?

[2015-07-24 07:58] Manishearth commented on #70
Reexport just means that `Client` gets the same method that proxies to the room

[2015-07-24 08:39] ByteCommander commented on #70
So in we finally will be able to do everything by only accessing the client module and not having to call other modules' methods? If I understood that correctly, I'm in favor of it.

[2015-07-24 09:31] Manishearth commented on #70
Pretty much, yeah

[2015-07-24 10:29] ProgramFOX commented on #74
@badp There is now an alternative way to do this: you can set the `on_message_sent` method on a Client object, which will get called when a message is sent through ChatExchange. The on_message_sent method needs two parameters, the first for the message ID and the second for the room ID.

[2015-07-24 14:10] Manishearth opened #108 "Travis fails"
https://travis-ci.org/Manishearth/ChatExchange/builds/72441536

cc @ProgramFOX

[2015-07-24 14:24] ProgramFOX commented on #108
This was in the logs:

    client.py                  250 ERROR    Attempt 9: denied: unknown reason u'ok'

I guess 'ok' is an entirely valid response. I'll add a case to handle that.

[2015-07-24 14:29] #108 closed

[2015-07-24 16:43] Undo1 commented on #92
Sweet! On to updating the blame thing... >:D

[2015-09-15 12:31] ByteCommander opened #116 "Replace with (modified) ChatExchange6?"
As @Manishearth suggested, I now rewrote my fork and renamed it **[ChatExchange6](https://github.com/ByteCommander/ChatExchange6)** as `2×3 = 6` and it now supports both Python 2 (Travis-CI successfully tested 2.6) and Python 3 (Travis: 3.4).

I tidied up (==deleted) those old branches and edited some other stuff over time that I am not sure whether you want to lose what you had there or not. Ther

[2015-09-15 16:27] Manishearth commented on #116
cc @ProgramFOX @Undo1

[2015-09-15 16:38] Unihedro commented on #116
the project name "ChatExchange6" (in bold) is mispelt in the original post

[2015-09-15 16:38] ByteCommander commented on #116
I'm currently still having issues with 2.6, 3.2, 3.5 and 3.6-dev (nightly) on Travis. I hope I can resolve some of those problems, but I would appreciate if some of you could have a look at the travis outputs and tell me what could be the problem here...

https://travis-ci.org/ByteCommander/ChatExchange6

[2015-09-15 16:39] ByteCommander commented on #116
@Unihedro fixed typo in comment.

[2015-09-15 16:44] Unihedro commented on #116
Yeah, I noticed.

[2015-09-15 16:46] Undo1 commented on #116
Does it do anything better or is it just Python-3 compatibility stuff?

[2015-09-15 16:48] Unihedro commented on #116
To quote Byte from chat, "It does not do anything new, but lets you do the original stuff now in both Python 2 and 3."

[2015-09-15 16:49] ByteCommander commented on #116
@Undo1 Currently it should just be good old ChatExchange but supporting both Python2 and Python3 within the same package. It's mainly ChatExchange reformatted for Python3 plus if-statements added wherever import names are different between 2 and 3, so that always the correct packages is imported.

[2015-09-15 17:05] ProgramFOX commented on #116
I fully support a ChatExchange version that works with both Py2 and Py3. :+1:

[2015-09-16 16:06] ByteCommander commented on #116
@Manishearth @ProgramFOX  @Undo1 @Unihedro
I can now proudly announce that CE6 1.0 was successfully released after I was able to fix the testing issues with Python 3.5 and to backport the `logging` module's `Logger.getChild(name)` function for Python 2.6 so that it runs there now too.
Python 3.6-dev (nightly) is still incompatible with the `coverage` package used for the tests, but I could not fin

[2015-09-16 16:14] Undo1 commented on #116
I'm indifferent if it works the same, I don't think we have a pressing need to bring Smokey up to Python 3.x. @ProgramFOX ?

[2015-09-16 16:16] ByteCommander commented on #116
@Undo1 It is still Python 2.6 and 2.7 compatible. You don't have to change anything in code that depends on old ChatExchange.

The only thing that changed is the name, but when we decide to merge it, we can name the package back to `chatexchange` without the 6 for compatibility.

[2015-09-16 16:18] Undo1 commented on #116
Right, but we don't *gain* anything from it is what I'm saying. If we were itching to upgrade to 3.x, it'd be a different story, of course.

[2015-09-16 16:22] ByteCommander commented on #116
@Undo1 But it's not only SmokeDetector that is build on CE. There are some more bots and some of them are Python 3, some Python 2. And it's not ideal to manually apply the updates on CE to CE6. Reducing both versions to one project seems the only right step to me.

[2015-09-16 16:31] Undo1 commented on #116
Oh absolutely, but Smokey is the project I work on. From a strictly selfish point of view, I'm neither for nor against it.

[2015-09-16 16:36] ByteCommander commented on #116
So does that mean you want any fancy new stuff included before you vote for a merge? Any proposals? If you want, I will try what I can do...

[2015-09-16 16:38] Unihedro commented on #116
Undo's point seems to have missed you completely for some weird reason, so I'll try to put it in another way - This "suggestion" is to add support for CE to run in python3. There's no pressing demand for that and it virtually adds nothing to the project.

[2015-09-16 16:40] Undo1 commented on #116
What @Unihedro said, but with an amendment at the end: It virtually adds nothing to *my* main project. It adds a lot to CE for those that want to use it with Python 3, but CE isn't really one of my contact projects and I don't have any projects that use Python 3. I'm not in a position to vote on this one way or the other.

[2015-09-16 16:41] Unihedro commented on #116
now that the discourse has pretty much finished, no one seems to be against, so consider yourself greenlighted and submit a PR. as long as everything still works and it's only the effort of a click, I'm not sure why you'd get rejected beyond that point

[2015-09-16 16:46] ByteCommander commented on #116
@Unihedro It adds Python 3 up to 3.5-dev and also adds downwards compatibility to Python 2.6 which was previously failing as well. And @ProgramFOX and me both need it with Python 3. Others probably to come.
Also, as there is no argument against it if I rename ChatExchange6 back to ChatExchange, I think we should do this. Thank you for finally agreeing. But I'll wait for @Manishearth 's comment.

[2016-01-20 20:32] Manishearth opened #119 "Relicense under dual MIT/Apache 2.0"
We currently use the GPL, which is a very restrictive license, and we'd like to change it to something more permissive (in this case, dual licensed under MIT/Apache 2.0). We'll need consent from all contributors to this repository to do so:

 - [x] @Manishearth
 - [x] @jeremybanks
 - [x] @ProgramFOX
 - [x] @badp
 - [x] @hichris1234
 - [x] @michaelpri10
 - [x] @ArtOfCode-
 - [x] @ByteCommander
 - [

[2016-01-20 20:33] Undo1 commented on #119
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-20 20:34] ProgramFOX commented on #119
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-20 20:35] ArtOfCode- commented on #119
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-20 20:35] Manishearth commented on #119
For posterity:

I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-20 20:39] hichris1234 commented on #119
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-20 21:20] FunkyLoveCow commented on #119
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-20 21:53] badp commented on #119
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-20 23:34] michaelpri10 commented on #119
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-21 02:30] jeremybanks commented on #119
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-21 02:30] jeremybanks commented on #119
+1 for the change, too.

[2016-01-21 20:22] ByteCommander commented on #119
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-21 20:23] ByteCommander commented on #119
Actually I don't really care about the license of this project, but what exactly would I have to do to my fork to meet this new thing? Can I get a link to the two licenses, please?

[2016-01-21 20:31] Manishearth commented on #119
All the code (aside from typo fixes) in your fork can be relicensed if the authors all agree. Any commits taken from this repo already have agreement so you don't need to re-ask for them.

I'll be opening a pull request shortly, just mimic that :)

[2016-01-21 20:36] #119 closed

[2016-01-21 20:37] Manishearth commented on #119
Thanks, all!

[2016-01-21 20:37] Manishearth commented on #119
@ByteCommander see #120

[2016-01-21 20:41] PeeHaa commented on #119
Thanks for this @Manishearth. And thanks to all contributors. +1

[2016-01-21 20:56] ByteCommander commented on #119
@Manishearth Thanks. Well, the only contributor to my fork was me AFAIK... Will update it when I have time, probably on the weekend.

[2016-07-19 00:18] CrazyPython opened #122 "Push to PyPI"
Using `make` is so much more complex than using `pip`. Since there is no C code or other code that needs compiling, there shouldn't be problems pushing it to PyPI.

[2016-07-23 18:27] CrazyPython commented on #122
@Manishearth any updates?

[2016-07-24 03:14] Manishearth commented on #122
Out of town right now (remind me monday)

[2016-07-25 06:13] #122 closed

[2016-09-01 12:24] ChristopherKing42 opened #124 "Entities not parsed"
When message.content is done, it leaves in the entity names. I'm not sure if that's a bug, but I was expecting them to be replaced by their character equivalent.

[2016-09-12 12:15] tuxcrafting opened #125 "Error when trying to call `Client.getme`"
When I try to call `Client.getme`, I get this error:
[code]
The code:
[code]
The credentials are correct, and posting from main account [works](https://chat.stackexchange.com/transcript/message/32258397#32258397).

[2016-09-12 12:20] ByteCommander commented on #125
I suspect this has something to do with the privilege level of the bot account (http://chat.stackexchange.com/users/227130/zalgo) which has currently only 30 chat rep points.

[2016-09-12 12:46] ByteCommander commented on #125
Modifying `browser.py` around line 230 to look like this:

[code]

returns the following output for user Zalgo:

    <a href="http://stackexchange.com/users/login?returnurl=http%3a%2f%2fchat.stackexch‌​ange.com%2fchats%2fjoin%2ffavorite">log in</a>

If I test it with my working ByteBot account, the result is this:

    <a href="/users/146720/bytebot" title="ByteBOT">ByteBOT</a>

[2016-09-12 12:59] tuxcrafting commented on #125
Modifying the password of the bot fixed the problem.

[2016-09-12 12:59] #125 closed

[2016-11-23 11:44] ProgramFOX commented on #116
So... This is very old already but I thought it's time to dig it up again: no objections have been raised and it would make things easier to have CE6 merged into CE. Poking @Manishearth

[2016-11-23 16:16] Manishearth commented on #116
Oh, I have no objection 😄

Just make a PR?

[2016-12-16 15:56] ralphembree opened #132 "Upload Python3-compatible version to PyPI"
Installing chatexchange with pip3 still gives the old version before the merge with chatexchange6.  Could you update PyPI, please?

[2017-01-08 10:54] Unihedro commented on #116
fixed by #128

[2017-01-08 10:55] #116 closed

[2017-01-08 16:36] CrazyPython opened #133 "Better documentation"
A simple and fluff-free example with an explanation is all that's needed.

[2017-01-17 11:50] markyi370 opened #134 "Unable to log in properly"
It appears that a method is being called twice.

Here's a debuggable version of this method:

    @staticmethod
    def user_id_and_name_from_link(link_soup):
        user_name = link_soup.text
        print("link soup " + link_soup['href'].split('/')[-2]);
        user_id = int(link_soup['href'].split('/')[-2])
        return user_id, user_name

And the relevant output from it:

    link soup 242

[2017-01-26 13:54] ralphembree commented on #132
Currently, installing my bot requires `--process-dependency-links`, which is both deprecated and unintuitive.  Are there any plans?

[2017-02-06 23:47] teward opened #135 "[Support] When running something using this CE engine in PyCharm, "failed to get `usr` cookie from Stack Exchange OpenID""
I'm not sure if this is a PyCharm issue or not, but what cases can trigger a "None" to be received by ChatExchange engine here, which would cause a failure case?  I'm trying to debug some things with SmokeDetector which would require a full debugger instance, and trying to run this in PyCharm's debugger to define my breakpoints, but I always get that "failed to get `usr` cookie from Stack Exchange

[2017-02-07 21:16] ByteCommander commented on #135
I haven't touched any of that code in over a year and also am too busy currently to dig back in, but it would be helpful if you could find out and tell where exactly (which method call) a None is returned or that Error is outputted. Also, as your question suggests that it does not err if you run it outside PyCharm, you should verify what Python environment PyCharm uses to execute the code. Compare

[2017-02-10 03:58] teward commented on #135
Well, this is how PyCharm is executing the SmokeDetector scripts: `/usr/bin/python2.7 /opt/jetbrains/pycharm/helpers/pydev/pydevd.py --cmd-line --multiproc --save-signatures --qt-support --client 127.0.0.1 --port 43040 --file nocrash.py`

In SmokeDetector, it's using the following class from ChatExchange:  `from ChatExchange.chatexchange.client import Client`, creates a logon of the Client for thr

[2017-02-10 07:56] ByteCommander commented on #135
I have to admit I have no idea about this. Probably your best chance is to wait for someone like @Manishearth or @ProgramFOX to look at your issue...

[2017-03-03 16:24] teward commented on #135
Ultimately stems from an issue with credentials and a not-so-understandable error message.

[2017-03-03 16:24] #135 closed

[2017-03-07 21:31] ralphembree commented on #132
I hate to keep bugging you, but it's been almost three months since I first posted this issue, and I've still seen no action and no response except two upvotes. I've been using ChatExchange6 for a while, but I hate using deprecated features, and I don't like the extra effort required on the part of the people who want to install my program. Despite this, I'm willing to shut up if I'll only get a l

[2017-03-07 21:48] Manishearth commented on #132
Uploaded 0.0.3, sorry about the issues.

[2017-03-07 21:48] #132 closed

[2017-03-22 05:52] jeremyBanks opened #141 ""Limit concurrent jobs" to 1 in Travis settings for this repo"
Depending on Travis worker availability, the current configuration could run as many as 8 instances of the test in parallel, one for each version of Python being tested. This can cause Stack Exchange's rate limits be exceeded in some cases, leading to flakey tests. (I think that may be what happened to the last build on master but I'm not sure. I'd like to be able to rule it out, at least.)

It ma

[2017-03-22 17:01] jeremyBanks commented on #133
I'm going to work on a one-document overview of the public interface that should be easier to digest.

I'm also now [generating Epydocs](http://banks.gitlab.io/ChatExchange/epydocs/) from `master`. They aren't great (we might want to consider finding a more modern tool), but might be useful to reference API details in some cases.

[2017-04-26 16:07] quartata opened #143 "Update PyPI package to latest version"

[2017-04-26 21:14] quartata commented on #143
Would be nice if it could push to PyPI on successful builds

[2017-06-10 12:11] bchanda1 opened #147 "500 Internal Server Error"
Hi Manish,

I am getting this error while connecting to SE.

[code]

Any idea's what could be the issue? I have checked everything starting from the user id,password. reputation required for chat room, trying out chat room, manually logging in, etc Not sure what is going wrong here.

[2017-10-19 20:15] muddyfish opened #149 "500 Error when reading messages"
When receiving messages from SE, it raised a 500 error. After this, it no longer read any more messages. This is probably due to the exception killing off the reader

[code]

[2018-03-06 17:53] FelixSFD opened #151 "SE is removing OpenID"
https://meta.stackexchange.com/q/307647/347985

It looks like the library [is using OpenID](https://github.com/Manishearth/ChatExchange/blob/master/chatexchange/browser.py#L145). We need to replace it with the e-mail-based authentication.

If we need help, [Tim Post](https://meta.stackexchange.com/a/307649/347985) is inviting us to contact SE.

[2018-03-06 18:47] Manishearth commented on #151
(I'm currently not actively maintaining this library  -- @ByteCommander @ProgramFOX got thoughts?)

[2018-03-06 18:48] Manishearth commented on #151
FWIW we use StackExchange's login, which probably won't be going away. The URLs may change though.

[2018-03-07 02:38] csnardi commented on #151
We'll need to change a decent amount, since it looks like we directly login through OpenID and then log into a Stack Exchange site. Haven't looked at potential solutions, however.

[2018-03-07 19:18] csnardi commented on #151
As an update: looks like stackexchange.com (and thus chat.stackexchange.com) is still using OpenID. Thus, we should probably wait a little bit for that to be changed; otherwise we'll have to maintain two login methods. I have a rough patch to not use OpenID, and I'll take another look whenever SE.com is changed over.

[2018-03-11 00:21] jeremyBanks commented on #151
Note [this chat message from Shog](https://chat.stackexchange.com/transcript/message/43253363#43253363):

I think that the parts of SE.com that require login are being moved into specific sites, and login will be removed. I think logging into chat.SE now will require logging in to a specific site; there won't be any site-agnostic login routes like SE.com currently provides. One issue with this is

[2018-06-06 10:09] Filnor commented on #151
The deadline has been now been moved to August, according to the [monthly DAG team update for June](https://meta.stackexchange.com/a/310868). Nevertheless, we should switch to the new auth or test it if someone has a solution already (@csnardi maybe?).

[2018-06-07 13:15] Fortunate-MAN commented on #151
@Filnor For the Java-lib, @FelixSFD implemented a solution in the same lines as @jeremyBanks message. So that solution *should* work, someone just needs to implement it here.

[2018-06-07 15:05] Filnor commented on #151
I wrote an implementation that seems to work pretty well, and this is the status of the testing:
- **chat.SO:** All good, no errors
- **chat.SE :** Errored, needs fixes
- **chat.meta.SE:** not tested yet

[2018-06-07 15:32] Filnor commented on #151
I rewrote it to work fine on chat.SO and made a fork for that: https://github.com/Filnor/ChatOverflow. I got stuck on the chat.SE login as it appears to still use OpenID and chat.MSE is not working to, but that's probably because it's using another way to login (using return URLS).

[2018-06-08 19:56] FelixSFD commented on #151
Tunaki implemented our approach, but it's not published yet: https://github.com/Tunaki/chatexchange/commit/913613fd940733ac3de270694f7898e5cb7b8f6d

[2018-07-22 06:36] #151 closed

[2018-07-22 07:03] ProgramFOX commented on #143
@Manishearth Could you do a PyPI push please? CE is updated to use the new SE logins and bots that depend on the PyPI package (such as SmokeDetector) will get problems if the package isn't there by the 25th...

[2018-07-22 07:10] Manishearth commented on #143
Will do soonish.

On Sun, Jul 22, 2018, 12:03 AM ProgramFOX <notifications@github.com> wrote:

[2018-07-22 16:12] Manishearth commented on #143
https://pypi.org/project/ChatExchange/#history

Done!

[2018-07-22 16:12] #143 closed

[2018-07-22 18:12] quartata commented on #143
@ProgramFox Actually we don't use the PyPI version, we have it as a submodule. But thanks though :P

[2018-07-22 18:14] quartata commented on #143
@ProgramFox Actually, we don't depend on the PyPI package, we just have it as a Git submodule. but thanks though!

[2018-07-23 07:36] ProgramFOX commented on #143
@quartata Oh, okay. I'm very out of the loop about SmokeDetector :P

[2018-10-30 21:32] danbopes commented on #79
Can I ask how the caching currently works?

From what I can see, you're creating a [new instance](https://github.com/Manishearth/ChatExchange/blob/458c6784e2af4939b3034a7291e51b5591329468/chatexchange/client.py#L109), [adding it to the cache](https://github.com/Manishearth/ChatExchange/blob/458c6784e2af4939b3034a7291e51b5591329468/chatexchange/client.py#L115), and returning it. At no point are you

[2018-11-15 09:01] Filnor commented on #134
This may be invalidated now, since the old authentication, OpenID, has been replaced.

[2018-11-23 12:05] #134 closed

[2018-11-23 12:10] Filnor commented on #149
Can your reproduce the error now? Chat often has some outtakes and especially this lib has it's issues with it. I'd suggest to wrap the `watch()` or the `watch_socket()` function in a `try ... except` and catch any exceptions you may receive. That should also eliminate crashes when the socket connection dies.

[2018-11-23 12:12] Filnor commented on #147
I guess it's the same issue as here: https://github.com/Manishearth/ChatExchange/issues/149

[2018-11-23 12:14] Filnor commented on #133
Maybe provide a quick-start guide? That would have helped me a lot when I started out crafting bots with this lib.

[2018-11-23 12:18] Filnor commented on #61
Invalid by now as OpenID is now replaced.

[2018-11-23 12:20] Filnor commented on #8
Kinda invalided by now as OpenID is now replaced. But on the new login, you may run into a captcha after too many recent logins which blocks you for 5 - 10 minutes.

[2019-03-30 05:11] raitalharehman opened #154 "make: *** [run-example] Error 1"
error log

Traceback (most recent call last):
  File "examples/chat.py", line 80, in <module>
    main(*sys.argv[1:])
TypeError: main() missing 1 required positional argument: 'args'
make: *** [run-example] Error 1

[2019-03-30 07:50] #154 closed

[2019-03-30 13:58] raitalharehman commented on #154
What is this? No comment just close issue

Sent from Mail for Windows 10

From: Manish Goregaokar
Sent: Saturday, March 30, 2019 12:50 PM
To: Manishearth/ChatExchange
Cc: Rai Talha Rehman; Author
Subject: Re: [Manishearth/ChatExchange] make: *** [run-example] Error 1 (#154)

Closed #154 via 0c1e328.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2019-03-30 15:28] fortunate-man commented on #154
@raitalharehman If you noticed carefully enough, https://github.com/Manishearth/ChatExchange/commit/0c1e328914b02a90e525d4aa4fdbf106ce16faf9 fixed this issue; Github shows the same:

[2019-03-30 15:45] raitalharehman commented on #154
@fortunate-man thanks

[2019-04-15 06:24] tripleee opened #156 "Incorrect epydoc tags in docstrings"
I was looking at updating the doc strings in a couple of places, but I noticed that the existing docstrings do not appear to adhere to the conventions for epydoc: http://epydoc.sourceforge.net/manual-fields.html

In particular, `@param` should be used to describe each function parameter (not `@ivar` which is for instance variables)

[2021-06-13 20:28] makyen opened #161 "Travis CI migration to travis-ci.com from travis-ci.org"
Travis CI is shutting down travis-ci.org on 2021-06-15 (**in 2 days**). If you continue to desire to use Travis CI for CI testing, then you need to migrate this repository to [travis-ci.com](https://travis-ci.com). See the [documentation for migrating](https://docs.travis-ci.com/user/migrate/open-source-repository-migration#migrating-a-repository).

Note: in order for me to get migration of my rep

[2021-06-14 14:56] Manishearth commented on #161
I think I'd rather just switch to GitHub actions. Happy to merge a PR for that!

[2021-06-14 15:36] makyen commented on #161
IMO, moving to GitHub Actions is a good idea. Doing so is the choice we made on our projects. For us, moving away from Travis CI was primarily motivated by [Travis CI changing their pricing structure](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing), particularly that they were going to make using Travis [more painful for open source projects](https://blog.travis-ci.com/2020-11-02-trav

[2021-06-14 15:55] makyen opened #162 "Migrate CI testing to GitHub Actions"
Per the discussion in issue #161, the desire for this repository is to migrate CI testing to GitHub Actions.

[2021-06-14 15:55] #161 closed

[2021-06-24 04:33] tripleee opened #163 "Did the format of the TOO_FAST_RE message change?"
I had a failure last night which seems to have been caused by quotes around the backoff message from the server. Did the format of the response change? Or should the regex match use `re.search()` instead of `re.match()`?

Ref. https://github.com/tripleee/sloshy/issues/8

[2021-06-24 07:17] makyen commented on #163
No, the format of the response from SE has not changed. There are no quotes around the message received from SE's chat servers. The quotes you are seeing are added by the `logging` package.

The logging message which you show in your linked issue is

This is just a log output and does not indicate that the action wasn't retried. It does, however, indicate that there was a 5 second delay between lo

[2021-06-24 14:47] #163 closed

[2021-08-14 14:12] tripleee opened #164 "Posting to a frozen room should fail, but doesn't"
I hit this in https://github.com/tripleee/sloshy/issues/14 and I can't seem to find a good way to fix it in the current code.

In brief, when using `repl` I get a warning about an exception after a short while, but it's unclear to me where in the call stack it happens.

[code]
In the linked ticket, there is a slightly more informative traceback, but its root is a thread which isn't connected to th

[2021-08-14 14:30] tripleee commented on #164
I'm getting a slightly better traceback with this simple demo.

[code]
Without the loop to wait for the queue to drain, it just quits with no indication of any error at the end of the script. (I have been wishing for other reasons that an explicit `logout` should make sure all messages are delivered before it disconnects, but I digress.)

The traceback shows that `raise_for_status()` is actually b

[2021-08-15 11:09] tripleee commented on #164
https://stackoverflow.com/questions/2829329/catch-a-threads-exception-in-the-caller-thread has some ideas to explore. Ultimately perhaps an `async` solution would pe more manageable and robust, but then that would entail giving up compatibility with Python 2 and older versions of Python 3.

[2021-10-25 17:22] tripleee opened #168 "Logout abandons pending queued messages"
The logout action in its current form rather brutally disconnects the chat client without waiting for pending messages to be delivered. This behavior surprised me. Should it perhaps be more soft, and/or should there be a separate function which waits for the queue to drain before it disconnects?

I have [logic implementing this behavior in Sloshy](https://github.com/tripleee/sloshy/blob/4fb222b9af

[2022-04-19 18:22] tripleee opened #169 "Could we get a new version uploaded to PyPI?"
https://pypi.org/project/ChatExchange/#history shows version 0.0.4 uploaded in 2018. It would be nice to get the bug fixes from the last few years uploaded there for wider consumption and visibility.

[2022-04-27 09:49] Manishearth commented on #169
I'll try to do this when I get a chance

[2022-05-01 09:33] tripleee commented on #169
Issthere something a volunteer could help out with? For example, a Github workflow to upload to test PyPI (and eventually to prod under some conditions, probably to be hashed out in more detail) should be within reach for someone to contribute if it's not something you already have somewhere. Unearthing the commits which correspond to previous releases so they can be tagged appropriately on Github

[2022-05-02 10:14] Manishearth commented on #169
Both would be helpful, yes.

It's taking a while because I'm travelling rn and primarily using my work computer; and while I have my personal laptop I'm not using it during the day so I'm not able to cut a release.

[2022-06-02 07:38] TvoozMagnificent opened #173 "chatexchange.browser.LoginError: failed to get `acct` cookie from Stack Exchange OpenID, check credentials provided for accuracy"
I ran the command

[code]

As said. However, it threw an error:

[code]

Full Python Message:

[code]

Full Output:

[code]

As you can see I manipulated the makefile to use python3.9.

`client.log` logfile:

[code]

[2022-06-02 10:57] tripleee commented on #173
This usually means that you had the wrong email address and/or password. Occasionally there is also a CAPTCHA involved; if you are certain that you have the right user name and password, try logging in manually with those and jump through the necessary hoops to prove that you are a human. (IIRC the error message in that case is slightly different.)